@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
:root {
    --blue: rgb(116, 170, 251)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: Poppins;
}

a{ color: #FFF; text-decoration: none}
hr {
    color: rgb(156, 156, 156);
    width: 100%;
    border-top: 1px solid;
}

li,
ul {
    list-style-type: none;
    display: inline;
}

button {
    cursor: pointer;
}

.main-btn {
    background-color: #4b4b4b;
    color: white;
    border-radius: 5px;
    text-shadow: 0.75px 0.75px 0.1px rgb(112, 112, 112);
    padding: 0.5rem 2rem;
    font-size: 18px;
}

.alt-btn {
    border-radius: 5px;
    background-color: transparent;
    color: var(--cbrown);
    box-shadow: 1px -1px 10px rgb(206, 206, 206);
    font-weight: bolder;
    font-size: 18px;
    padding: 0.75rem 1.5rem;
}
